<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ServerPublishProfileName>Server</ServerPublishProfileName>
    <ServerExecutableName>AtomicArt.Api</ServerExecutableName>
  </PropertyGroup>

  <Import Project="ServerPublishProfile.props" />
</Project>
