<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <DeleteExistingFiles>true</DeleteExistingFiles>

    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishIISAssets>false</PublishIISAssets>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>

    <PublishUrl>$(MSBuildProjectDirectory)\..\..\publish\AtomicArt.Api\Server\</PublishUrl>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\publish\AtomicArt.Api\Server\</PublishDir>
  </PropertyGroup>

  <Target Name="RemovePublishedExtraFiles" AfterTargets="Publish">
    <ItemGroup>
      <PublishedExtraFiles Include="$(PublishDir)**\*" Exclude="$(PublishDir)AtomicArt.Api;$(PublishDir)appsettings.json;$(PublishDir)Generation\**\*" />
    </ItemGroup>
    <Delete Files="@(PublishedExtraFiles)" />
  </Target>
</Project>
