<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ServerPublishProfileName>WindowsServer</ServerPublishProfileName>
    <ServerExecutableName>AtomicArt.Api.exe</ServerExecutableName>
  </PropertyGroup>

  <Import Project="ServerPublishProfile.props" />
</Project>
